.container,
.products,
.blog-content,
.footer-container,
.rights {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 24px;
  background: #fff;
}
img {
  object-fit: cover;
}
.head {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -8px;
  background: #222;
  color: #525252;
  padding: 5px 30px 0;
  min-height: 44px;
}
.head .header-text {
  float: left;
  padding-top: 5px;
}
.head .header-text p {
  margin: 0 0 10px;
}
.head .links {
  margin-top: 5px;
  text-align: right;
}
.head .links .inline {
  display: inline-block;
  list-style: none;
  margin: 0 0 10px;
}
.head .links .inline li {
  display: inline-block;
  padding: 0 12px;
}
.head .links .inline li:last-child {
  padding-right: 0;
}
@media screen and (max-width: 600px) {
  header .head .header-text {
    display: none;
  }
  header .links {
    float: left;
  }
  header .links ul {
    padding: 0;
  }
}
.menu-bar {
  text-align: center;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.menu-bar .hamburger-menu {
  display: none;
}
.menu-bar .logo {
  float: left;
  position: relative;
  padding: 19px 0 19px 30px;
}
.menu-bar .menu {
  width: 90%;
}
.menu-bar .menu ul {
  list-style-type: none;
  margin: 0;
}
.menu-bar .menu ul li {
  padding: 28px 25px;
  display: inline-block;
  text-transform: uppercase;
  white-space: normal;
}
.menu-bar .menu ul li a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.menu-bar .menu ul li a:hover {
  color: #8262b5;
}
.menu-bar .wish-list {
  position: absolute;
  top: 10px;
  right: 30px;
  vertical-align: middle;
  display: inline-block;
}
.menu-bar .wish-list li {
  list-style: none;
  display: inline-block;
}
.menu-bar .wish-list li i {
  font-size: 30px;
}
.menu-bar .wish-list li:last-child {
  padding: 0 0 0 30px;
}
@media screen and (max-width: 1240px) {
  .menu-bar .hamburger-menu {
    display: block;
  }
  .menu-bar .hamburger-menu .menu-bar {
    float: left;
    position: relative;
    padding: 20px 0 19px 30px;
    font-size: 30px;
    border: 0;
    z-index: 2;
  }
  .menu-bar .hamburger-menu .menu-bar button {
    background: none;
    border: none;
    font-size: 30px;
  }
  .menu-bar .menu {
    display: none;
  }
  .menu-bar .logo {
    width: 90%;
    float: unset;
  }
}
@media screen and (max-width: 480px) {
  .menu-bar .logo {
    width: 80%;
  }
}
nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav .mobile-menu {
  height: 100%;
  max-height: 350px;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}
@media screen and (max-width: 1240px) {
  nav .mobile-menu {
    display: none;
  }
  nav .mobile-menu ul {
    padding-left: 0;
    list-style-type: none;
  }
  nav .mobile-menu ul li {
    padding: 28px 25px;
    text-transform: uppercase;
    font-size: 24px;
  }
  nav .mobile-menu ul li a {
    text-decoration: none;
    color: #000;
  }
  nav .mobile-menu ul li a:hover {
    color: #8262b5;
  }
  nav .mobile-menu ul li #searchbar {
    font-size: 24px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #525252;
  }
  nav .mobile-menu ul li #searchbar:focus {
    border-bottom: 1px solid #8262b5;
    outline: none;
  }
}
article {
  margin-top: 30px;
}
.container {
  display: flex;
  display: -webkit-flex;
  padding: 0 15px;
}
.container img {
  width: 100%;
}
.container .ad-column-1 .img-ad1 {
  position: relative;
}
.container .ad-column-1 .img-ad1 .ad1-banner {
  text-align: right;
  position: absolute;
  left: 45%;
  bottom: 29%;
}
.container .ad-column-1 .img-ad1 .ad1-banner h3 {
  font-size: 30px;
  font-family: "Pacifico";
}
.container .ad-column-1 .img-ad1 .ad1-banner .btn-banner a {
  background: #8262b5;
  padding: 8px 17px;
  text-decoration: none;
  color: #fff;
}
.container .ad-column-2 {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  padding-left: 30px;
}
.container .ad-column-2 .img-ad2 {
  position: relative;
  padding-bottom: 57%;
}
.container .ad-column-2 .img-ad2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .ad-column-2 .img-ad2 .ad2-banner {
  line-height: 0;
  position: absolute;
  bottom: 44%;
  margin-left: 54px;
}
.container .ad-column-2 .img-ad2 .ad2-banner h4 {
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-weight: 400;
}
.container .ad-column-2 .img-ad2 .ad2-banner h3 {
  text-transform: uppercase;
  font-size: 20px;
}
.container .ad-column-2 .img-ad3 {
  position: relative;
}
.container .ad-column-2 .img-ad3 .ad3-banner {
  margin-left: 54px;
  bottom: 40%;
  line-height: 0;
  position: absolute;
}
.container .ad-column-2 .img-ad3 .ad3-banner h4 {
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-weight: 400;
}
.container .ad-column-2 .img-ad3 .ad3-banner h3 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
}
.container .ad-column-2 .img-ad3 .ad3-banner .btn-banner a {
  background: #8262b5;
  padding: 8px 17px;
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .container .ad-column-1 .img-ad1 .ad1-banner h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .container .ad-column-1 {
    padding-bottom: 15px;
  }
  .container .ad-column-1 .img-ad1 .ad1-banner h3 {
    font-size: 30px;
  }
  .container .ad-column-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
  }
  .container .ad-column-2 .img-ad3 {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
  }
  .container .ad-column-2 .img-ad3 img {
    position: absolute;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container .ad-column-1 {
    padding-bottom: 15px;
  }
  .container .ad-column-1 .img-ad1 .ad1-banner h3 {
    font-size: 29px;
  }
  .container .ad-column-2 .img-ad3 img {
    padding-left: 2px;
  }
}
@media screen and (max-width: 600px) {
  .container .ad-column-1 .img-ad1 .ad1-banner h3 {
    font-size: 22px;
  }
}
.products {
  padding: 0 15px;
}
.products .product-header p {
  padding-top: 65px;
  line-height: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #8262b5;
  margin-bottom: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
.products .product-header h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 24px;
}
.products .product-line-up {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.products .product-line-up .item {
  width: calc(3 / 12 * 100%);
  padding: 0 15px;
}
.products .product-line-up .item img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.products .product-line-up .item .product-desc .preview {
  position: relative;
  padding-bottom: 140%;
}
.products .product-line-up .item .product-desc .preview a {
  position: absolute;
  bottom: 5px;
  background-color: #fff;
  left: 5px;
  padding: 12px 20px 12px 16px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}
.products .product-line-up .item .product-desc .preview a:hover {
  color: #8262b5;
  transition: ease-in 0.2s;
}
.products .product-line-up .item .product-desc p {
  font-weight: bold;
  padding: 10px 0 15px 0;
  margin: 0;
}
.products .product-line-up .item .product-desc .rating {
  padding-bottom: 10px;
}
.products .product-line-up .item .product-desc .rating span {
  color: #f8ba04;
}
.products .product-line-up .item .product-desc .price {
  padding-bottom: 50px;
}
.products .product-line-up .item .product-desc .price span {
  color: #8262b5;
  font-weight: bolder;
}
@media screen and (max-width: 800px) {
  .products .product-line-up .item {
    width: calc(4 / 12 * 100%);
  }
}
@media screen and (max-width: 600px) {
  .products .product-line-up .item {
    width: calc(6 / 12 * 100%);
  }
}
@media screen and (max-width: 320px) {
  .products .product-line-up .item {
    width: 100%;
  }
}
.blog {
  background-image: url("../img/blog-bg.png");
  height: 708px;
}
.blog .blog-content {
  padding: 77px 15px 0;
}
.blog .blog-content .blog-header {
  text-align: center;
}
.blog .blog-content .blog-header p {
  color: #8262b5;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 14px;
}
.blog .blog-content .blog-header h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: 700;
}
.blog .blog-content .blog-listing {
  padding-top: 45px;
}
.blog .blog-content .blog-listing .blog-item {
  width: auto;
  padding: 0 15px;
}
.blog .blog-content .blog-listing .blog-item .blog-img {
  position: relative;
  padding-bottom: 56%;
}
.blog .blog-content .blog-listing .blog-item img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.blog .blog-content .blog-listing .blog-item .blog-date {
  width: 62px;
  height: 60px;
  background-color: #a1d1dd;
  position: absolute;
  bottom: 5px;
  top: 20px;
  margin-left: 18px;
}
.blog .blog-content .blog-listing .blog-item .blog-date .date {
  margin: 0 auto;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 6px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px #fff solid;
}
.blog .blog-content .blog-listing .blog-item .blog-date .date p {
  margin: 0;
  color: #fff;
}
.blog .blog-content .blog-listing .blog-item .blog-info {
  position: relative;
  width: 100%;
  padding: 15px 18px 0;
  background-color: #fff;
}
.blog .blog-content .blog-listing .blog-item .blog-info a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.blog .blog-content .blog-listing .blog-item .blog-info a:hover {
  color: #8262b5;
}
.blog .blog-content .blog-listing .blog-item .blog-info p {
  font-family: "Open Sans";
}
.blog .blog-content .blog-listing .blog-item .blog-info .social {
  border-top: 1px solid #c4c4c4;
  padding: 15px 18px 15px 0;
}
.blog .blog-content .blog-listing .blog-item .blog-info .social a {
  font-weight: 400;
  color: #c4c4c4;
  font-size: 14px;
  margin-right: 37px;
}
@media screen and (max-width: 600px) {
  .blog .blog-content .blog-listing .blog-item {
    padding: 0 0 0 15px;
  }
}
@media screen and (max-width: 480px) {
  .blog .blog-content .blog-listing .blog-item {
    padding: 0;
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #8262b5;
}
.owl-theme .owl-dots .owl-dot span {
  background: #b0a3c5;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}
footer {
  background-color: #222222;
}
footer .footer-container {
  padding: 64px 0 20px 0;
  display: flex;
  display: -webkit-flex;
}
footer .footer-container .about-us {
  margin-right: calc(127 / 1140 * 100%);
  padding: 0 15px;
  width: calc(3 / 12 * 100%);
  color: #818181;
}
footer .footer-container .about-us h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}
footer .footer-container .about-us p {
  font-family: "Open Sans";
  padding-bottom: 29px;
  font-size: 14px;
}
footer .footer-container .about-us ul {
  padding-left: 0;
  display: flex;
  display: -webkit-flex;
  list-style: none;
}
footer .footer-container .about-us ul li {
  display: flex;
  display: -webkit-flex;
  padding-right: 28px;
}
footer .footer-container .footer-menu {
  color: #818181;
  width: calc(4 / 12 * 100%);
}
footer .footer-container .footer-menu h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}
footer .footer-container .footer-menu ul {
  padding-left: 0;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: outside none none;
  list-style-position: inside;
}
footer .footer-container .footer-menu ul li {
  float: left;
  width: 195px;
  padding: 0 15px 10px 0;
}
footer .footer-container .footer-menu ul li a {
  text-decoration: none;
  color: #818181;
}
footer .footer-container .footer-menu ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-container .location {
  margin-left: calc(127 / 1140 * 100%);
  width: calc(3 / 12 * 100%);
  color: #818181;
}
footer .footer-container .location h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}
footer .footer-container .location ul {
  list-style: none;
  padding-left: 0;
}
footer .footer-container .location ul li p {
  display: inline-block;
}
footer .footer-container .location ul li p a {
  text-decoration: none;
  color: #818181;
}
footer .footer-container .location ul li p a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .copyright {
  border-top: 1px solid #818181;
}
footer .copyright .rights {
  display: flex;
  padding: 20px 0 15px 14px;
  color: #818181;
  font-size: 14px;
  margin: auto;
}
footer .copyright .rights .rights-text {
  width: calc(10 / 12 * 100%);
}
footer .copyright .payments {
  width: calc(4 / 12 * 100%);
  display: inline-block;
  text-align: right;
  margin-right: 1%;
}
@media only screen and (max-width: 1024px) {
  footer .footer-container {
    padding-left: 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer .footer-container .about-us {
    padding: 0;
    margin-right: unset;
    width: unset;
  }
  footer .footer-container .footer-menu {
    width: unset;
  }
  footer .footer-container .location {
    width: 100%;
    margin-left: unset;
  }
  footer .footer-container .location ul li p {
    padding-left: 10px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-container {
    padding-left: 5px;
  }
  footer .footer-container .footer-menu ul {
    columns: unset;
  }
  footer .copyright .rights {
    display: block;
    padding-left: 5px;
  }
  footer .copyright .rights .rights-text {
    width: auto;
    text-align: center;
  }
  footer .copyright .rights .payments {
    display: block;
    width: auto;
    text-align: center;
  }
}
