.container-1,
.products,
.blog-content,
.footer-container {
  min-height: 100px;
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 24px;
  background: #fff;
}
.head {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -8px;
  background: #222;
  color: #525252;
  padding: 5px 30px 0;
  min-height: 44px;
}
.head .header-text {
  float: left;
  padding-top: 5px;
}
.head .header-text p {
  margin: 0 0 10px;
}
.head .links {
  margin-top: 5px;
  text-align: right;
}
.head .links .inline {
  display: inline-block;
  list-style: none;
  margin: 0 0 10px;
}
.head .links .inline li {
  display: inline-block;
  padding: 0 12px;
}
.head .links .inline li:last-child {
  padding-right: 0;
}
.menu-bar {
  text-align: center;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.menu-bar .logo {
  float: left;
  position: relative;
  padding: 19px 0 19px 30px;
}
.menu-bar .menu a {
  padding: 28px 25px;
  display: inline-block;
  text-transform: uppercase;
  white-space: normal;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.menu-bar .menu a:hover {
  color: #8262b5;
  transition: ease-in 0.2s;
}
.menu-bar .wish-list {
  position: absolute;
  top: 6px;
  right: 30px;
  vertical-align: middle;
  display: inline-block;
}
.menu-bar .wish-list li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
}
article {
  margin-top: 30px;
}
.container-1 {
  display: flex;
  display: -webkit-flex;
  padding: 0 15px;
}
.container-1 .ad-column-1 {
  width: 750px;
}
.container-1 .ad-column-1 .ad1-banner {
  text-align: right;
  position: absolute;
  left: 38%;
  top: 460px;
}
.container-1 .ad-column-1 .ad1-banner h3 {
  font-size: 30px;
  font-family: "Pacifico";
}
.container-1 .ad-column-1 .ad1-banner .btn-banner a {
  background: #8262b5;
  padding: 8px 17px;
  text-decoration: none;
  color: #fff;
}
.container-1 .ad-column-2 {
  padding-left: 30px;
}
.container-1 .ad-column-2 .img-ad2 {
  padding-bottom: 22px;
}
.container-1 .ad-column-2 .img-ad2 .ad2-banner {
  line-height: 0;
  position: absolute;
  top: 230px;
  margin-left: 54px;
}
.container-1 .ad-column-2 .img-ad2 .ad2-banner h4 {
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-weight: 400;
}
.container-1 .ad-column-2 .img-ad2 .ad2-banner h3 {
  text-transform: uppercase;
  font-size: 20px;
}
.container-1 .ad-column-2 .img-ad3 .ad3-banner {
  margin-left: 54px;
  top: 515px;
  line-height: 0;
  position: absolute;
}
.container-1 .ad-column-2 .img-ad3 .ad3-banner h4 {
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-weight: 400;
}
.container-1 .ad-column-2 .img-ad3 .ad3-banner h3 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
}
.container-1 .ad-column-2 .img-ad3 .ad3-banner .btn-banner a {
  background: #8262b5;
  padding: 8px 17px;
  text-decoration: none;
  color: #fff;
}
.products {
  padding: 0 15px;
}
.products .product-header p {
  padding-top: 65px;
  line-height: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #8262b5;
  margin-bottom: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
.products .product-header h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 24px;
}
.products .product-line-up {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.products .product-line-up .item {
  width: 292px;
  padding: 0 15px;
}
.products .product-line-up .item img {
  width: 263px;
  height: 322px;
}
.products .product-line-up .item a {
  position: relative;
  margin-left: 8px;
  bottom: 149px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 16px 24px 15px;
  text-transform: uppercase;
}
.products .product-line-up .item a:hover {
  color: #8262b5;
  transition: ease-in 0.2s;
}
.products .product-line-up .item .product-desc p {
  font-weight: bold;
}
.products .product-line-up .item .product-desc .rating span {
  color: #f8ba04;
}
.products .product-line-up .item .product-desc .price span {
  color: #8262b5;
  font-weight: bolder;
}
.blog {
  background-image: url("../img/blog-bg.png");
  height: 708px;
}
.blog .blog-content {
  padding: 77px 15px 0;
}
.blog .blog-content .blog-header {
  text-align: center;
}
.blog .blog-content .blog-header p {
  color: #8262b5;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 14px;
}
.blog .blog-content .blog-header h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: 700;
}
.blog .blog-content .blog-listing {
  display: flex;
  display: -webkit-flex;
  margin: 0 -15px;
  padding-top: 45px;
}
.blog .blog-content .blog-listing .blog-item {
  padding: 0 15px;
}
.blog .blog-content .blog-listing .blog-item img {
  width: 360px;
  height: 200px;
}
.blog .blog-content .blog-listing .blog-item .blog-date {
  width: 60px;
  height: 50px;
  background-color: #a1d1dd;
  position: relative;
  bottom: 192px;
  margin-left: 18px;
}
.blog .blog-content .blog-listing .blog-item .blog-date .date {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px #fff solid;
}
.blog .blog-content .blog-listing .blog-item .blog-date .date p {
  margin: 0;
  color: #fff;
}
.blog .blog-content .blog-listing .blog-item .blog-info {
  position: relative;
  bottom: 56px;
  width: 360px;
  padding: 15px 18px 0;
  background-color: #fff;
}
.blog .blog-content .blog-listing .blog-item .blog-info a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.blog .blog-content .blog-listing .blog-item .blog-info a:hover {
  color: #8262b5;
}
.blog .blog-content .blog-listing .blog-item .blog-info p {
  font-family: "Open Sans";
}
.blog .blog-content .blog-listing .blog-item .blog-info .social {
  border-top: 1px solid #818181;
  padding: 15px 18px 15px 0;
}
.blog .blog-content .blog-listing .blog-item .blog-info .social a {
  font-size: 14px;
  margin-right: 37px;
}
.blog .load {
  position: relative;
  bottom: 20px;
  width: 100%;
  display: block;
  text-align: center;
}
footer {
  background-color: #222222;
}
footer .footer-container {
  padding: 64px 0 20px 0;
  display: flex;
  display: -webkit-flex;
}
footer .footer-container .about-us {
  padding: 0 15px;
  width: 263px;
  color: #818181;
}
footer .footer-container .about-us h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}
footer .footer-container .about-us p {
  font-family: "Open Sans";
  padding-bottom: 29px;
  font-size: 14px;
}
footer .footer-container .about-us ul {
  padding-left: 0;
  display: flex;
  display: -webkit-flex;
  list-style: none;
}
footer .footer-container .about-us ul li {
  display: flex;
  display: -webkit-flex;
  padding-right: 28px;
}
footer .footer-container .footer-menu {
  color: #818181;
  width: 585px;
  padding: 0 113px;
}
footer .footer-container .footer-menu h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}
footer .footer-container .footer-menu ul {
  padding-left: 0;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: outside none none;
  list-style-position: inside;
}
footer .footer-container .footer-menu ul li {
  float: left;
  width: 195px;
  padding: 0 15px 10px 0;
}
footer .footer-container .location {
  width: 263px;
  color: #818181;
}
footer .footer-container .location h4 {
  color: #f7f7f7;
  padding-bottom: 30px;
  border-bottom: 1px solid #818181;
}
footer .footer-container .location ul {
  list-style: none;
  padding-left: 0;
}
footer .footer-container .location ul li p {
  display: inline-block;
  padding-left: 30px;
}
footer .copyright {
  border-top: 1px solid #818181;
}
footer .copyright .rights {
  width: 1178px;
  padding: 20px 0 15px 14px;
  color: #818181;
  font-size: 14px;
  margin: auto;
}
footer .copyright .payments {
  display: inline-block;
  text-align: right;
  padding-left: 646px;
}
