// Colour Pallete
@accent: rgb(130, 98, 181);
//Footer colour
@footer-colour: rgb(129, 129, 129);
@footer-header: #f7f7f7;
@border-footer: rgb(129, 129, 129);
@menu-border-colour: #ddd;
@footer-background: #222222;
//Body
@white: #fff;
@blog-date-colour: #a1d1dd;
@text-colour: #000;
@ads-small-banner: #616161;
@rating: rgb(248, 186, 4);
@social-colour: rgb(196, 196, 196);
//Header
@text-header: #525252;
@background-header: #222;

//Common Properties
.container,
.products,
.blog-content,
.footer-container,
.rights {
	max-width: 1170px;
	width: 100%;
	margin: auto;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "Montserrat";
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: @text-colour;
	line-height: 24px;
	background: @white;
}

img {
	object-fit: cover;
}

//Individual Properties
.head {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -8px;
	background: @background-header;
	color: @text-header;
	padding: 5px 30px 0;
	min-height: 44px;
	.header-text {
		float: left;
		padding-top: 5px;
		p {
			margin: 0 0 10px;
		}
	}
	.links {
		margin-top: 5px;
		text-align: right;
		.inline {
			display: inline-block;
			list-style: none;
			margin: 0 0 10px;
			li {
				display: inline-block;
				padding: 0 12px;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
//Header responsive
@media screen and (max-width: 600px) {
	header {
		.head {
			.header-text {
				display: none;
			}
		}
		.links {
			float: left;
			ul {
				padding: 0;
			}
		}
	}
}

.menu-bar {
	text-align: center;
	border-bottom: 1px solid @menu-border-colour;
	position: relative;
	.hamburger-menu {
		display: none;
	}
	.logo {
		float: left;
		position: relative;
		padding: 19px 0 19px 30px;
	}
	.menu {
		width: 90%;
		ul {
			list-style-type: none;
			margin: 0;
			li {
				padding: 28px 25px;
				display: inline-block;
				text-transform: uppercase;
				white-space: normal;
				a {
					font-weight: bold;
					color: @text-colour;
					text-decoration: none;
					&:hover {
						color: @accent;
					}
				}
			}
		}
	}

	.wish-list {
		position: absolute;
		top: 10px;
		right: 30px;
		vertical-align: middle;
		display: inline-block;
		li {
			i {
				font-size: 30px;
			}
			list-style: none;
			display: inline-block;
			&:last-child {
				padding: 0 0 0 30px;
			}
		}
	}
}

//Responsive for menu bar
@media screen and (max-width: 1240px) {
	.menu-bar {
		.hamburger-menu {
			display: block;
			.menu-bar {
				float: left;
				position: relative;
				padding: 20px 0 19px 30px;
				font-size: 30px;
				border: 0;
				z-index: 2;
				button {
					background: none;
					border: none;
					font-size: 30px;
				}
			}
		}
		.menu {
			display: none;
		}
		.logo {
			width: 90%;
			float: unset;
		}
	}
}

@media screen and (max-width: 480px) {
	.menu-bar {
		.logo {
			width: 80%;
		}
	}
}

nav {
	background: white;
	position: sticky;
	top: 0;
	z-index: 2;
	.mobile-menu {
		height: 100%;
		max-height: 350px;
		width: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: none;
	}
}
//Mobile menu-bar
@media screen and (max-width: 1240px) {
	nav {
		.mobile-menu {
			display: none;
			ul {
				padding-left: 0;
				list-style-type: none;
				li {
					padding: 28px 25px;
					text-transform: uppercase;
					font-size: 24px;
					a {
						text-decoration: none;
						color: @text-colour;
						&:hover {
							color: @accent;
						}
					}
					#searchbar {
						font-size: 24px;
						width: 100%;
						border: 0;
						border-bottom: 2px solid @text-header;
						&:focus {
							border-bottom: 1px solid @accent;
							outline: none;
						}
					}
				}
			}
		}
	}
}

article {
	margin-top: 30px;
}

.container {
	display: flex;
	display: -webkit-flex;
	padding: 0 15px;
	img {
		width: 100%;
	}
	.ad-column-1 {
		.img-ad1 {
			position: relative;
			.ad1-banner {
				text-align: right;
				position: absolute;
				left: 45%;
				bottom: 29%;
				h3 {
					font-size: 30px;
					font-family: "Pacifico";
				}
				.btn-banner {
					a {
						background: @accent;
						padding: 8px 17px;
						text-decoration: none;
						color: @white;
					}
				}
			}
		}
	}

	.ad-column-2 {
		padding-left: 30px;
		.img-ad2 {
			position: relative;
			padding-bottom: 6%;
			.ad2-banner {
				line-height: 0;
				position: absolute;
				bottom: 44%;
				margin-left: 54px;
				h4 {
					text-transform: uppercase;
					color: @ads-small-banner;
					margin-bottom: 5px;
					letter-spacing: 3px;
					font-weight: 400;
				}
				h3 {
					text-transform: uppercase;
					font-size: 20px;
				}
			}
		}

		.img-ad3 {
			position: relative;
			.ad3-banner {
				margin-left: 54px;
				bottom: 40%;
				line-height: 0;
				position: absolute;
				h4 {
					text-transform: uppercase;
					color: @ads-small-banner;
					margin-bottom: 5px;
					letter-spacing: 3px;
					font-weight: 400;
				}
				h3 {
					text-transform: uppercase;
					font-size: 20px;
					padding-bottom: 20px;
				}
				.btn-banner {
					a {
						background: @accent;
						padding: 8px 17px;
						text-decoration: none;
						color: @white;
					}
				}
			}
		}
	}
}

//Responsive ad container
@media screen and (max-width: 1024px) {
	.container {
		.ad-column-1 {
			.img-ad1 {
				.ad1-banner {
					h3 {
						font-size: 26px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.container {
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;
		.ad-column-1 {
			padding-bottom: 15px;
			.img-ad1 {
				.ad1-banner {
					h3 {
						font-size: 30px;
					}
				}
			}
		}
		.ad-column-2 {
			display: contents;
			padding-left: 0;
			.img-ad3 {
				img {
					padding-left: 30px;
					height: 200px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		.ad-column-1 {
			padding-bottom: 15px;
			.img-ad1 {
				.ad1-banner {
					h3 {
						font-size: 29px;
					}
				}
			}
		}
		.ad-column-2 {
			.img-ad3 {
				img {
					padding-left: 2px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.container {
		.ad-column-1 {
			.img-ad1 {
				.ad1-banner {
					h3 {
						font-size: 22px;
					}
				}
			}
		}
		.ad-column-2 {
			img {
				width: 554px;
			}
			.img-ad2 {
				padding-bottom: 3%;
			}
			.img-ad3 {
				img {
					padding-left: unset;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.container {
		.ad-column-1 {
			.img-ad1 {
				.ad1-banner {
					h3 {
						font-size: 18px;
					}
				}
			}
		}
		.ad-column-2 {
			img {
				width: 434px;
			}
		}
	}
}

.products {
	padding: 0 15px;
	.product-header {
		p {
			padding-top: 65px;
			line-height: 100%;
			font-size: 12px;
			font-weight: 700;
			color: @accent;
			margin-bottom: 14px;
			letter-spacing: 6px;
			text-transform: uppercase;
			font-weight: bold;
		}
		h3 {
			letter-spacing: 3px;
			text-transform: uppercase;
			font-size: 24px;
		}
	}
	.product-line-up {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		.item {
			width: calc(3 / 12 * 100%);
			padding: 0 15px;

			img {
				width: 100%;
				height: 100%;
				position: absolute;
			}
			.product-desc {
				.preview {
					position: relative;
					padding-bottom: 140%;
					a {
						position: absolute;
						bottom: 5px;
						background-color: @white;
						left: 5px;
						padding: 12px 20px 12px 16px;
						text-decoration: none;
						color: @text-colour;
						font-size: 12px;
						text-transform: uppercase;
						&:hover {
							color: @accent;
							transition: ease-in 0.2s;
						}
					}
				}
				p {
					font-weight: bold;
					padding: 10px 0 15px 0;
					margin: 0;
				}

				.rating {
					padding-bottom: 10px;
					span {
						color: @rating;
					}
				}

				.price {
					padding-bottom: 50px;
					& span {
						color: @accent;
						font-weight: bolder;
					}
				}
			}
		}
	}
}
//Responsive Properties for Product Listing
@media screen and (max-width: 800px) {
	.products {
		.product-line-up {
			.item {
				width: calc(4 / 12 * 100%);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.products {
		.product-line-up {
			.item {
				width: calc(6 / 12 * 100%);
			}
		}
	}
}

.blog {
	background-image: url("../img/blog-bg.png");
	height: 708px;
	.blog-content {
		padding: 77px 15px 0;
		.blog-header {
			text-align: center;
			p {
				color: @accent;
				text-transform: uppercase;
				letter-spacing: 5px;
				font-weight: 700;
				font-size: 12px;
				margin: 0 0 14px;
			}
			h3 {
				margin: 0;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-size: 24px;
				font-weight: 700;
			}
		}
		.blog-listing {
			// margin: 0 -15px;
			padding-top: 45px;
			.blog-item {
				width: auto;
				padding: 0 15px;
				.blog-img {
					position: relative;
					padding-bottom: 56%;
				}
				img {
					width: 100%;
					height: 100%;
					position: absolute;
				}
				.blog-date {
					width: 62px;
					height: 60px;
					background-color: @blog-date-colour;
					position: absolute;
					bottom: 5px;
					top: 20px;
					margin-left: 18px;
					.date {
						margin: 0 auto;
						position: absolute;
						top: 5px;
						bottom: 5px;
						left: 6px;
						width: 50px;
						height: 50px;
						text-align: center;
						border: 1px @white solid;
						p {
							margin: 0;
							color: @white;
						}
					}
				}
				.blog-info {
					a {
						text-decoration: none;
						color: @text-colour;
						font-size: 16px;
						font-weight: 700;
						&:hover {
							color: @accent;
						}
					}
					position: relative;
					width: 100%;
					padding: 15px 18px 0;
					background-color: @white;
					p {
						font-family: "Open Sans";
					}
					.social {
						border-top: 1px solid @social-colour;
						padding: 15px 18px 15px 0;
						a {
							font-weight: 400;
							color: @social-colour;
							font-size: 14px;
							margin-right: 37px;
						}
					}
				}
			}
		}
	}
}
//Blog Responsive
@media screen and (max-width: 600px) {
	.blog {
		.blog-content {
			.blog-listing {
				.blog-item {
					padding: 0 0 0 15px;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.blog {
		.blog-content {
			.blog-listing {
				.blog-item {
					padding: 0;
				}
			}
		}
	}
}

//Owl theme related
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: @accent;
}

.owl-theme .owl-dots .owl-dot span {
	background: rgb(176, 163, 197);
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 30px;
}

footer {
	background-color: @footer-background;
	.footer-container {
		padding: 64px 0 20px 0;
		display: flex;
		display: -webkit-flex;
		.about-us {
			margin-right: calc(127 / 1140 * 100%);
			padding: 0 15px;
			h4 {
				color: @footer-header;
				padding-bottom: 30px;
				border-bottom: 1px solid @border-footer;
			}
			width: calc(3 / 12 * 100%);
			color: @footer-colour;
			p {
				font-family: "Open Sans";
				padding-bottom: 29px;
				font-size: 14px;
			}
			ul {
				padding-left: 0;
				display: flex;
				display: -webkit-flex;
				list-style: none;
				li {
					display: flex;
					display: -webkit-flex;
					padding-right: 28px;
				}
			}
		}
		.footer-menu {
			color: @footer-colour;
			width: calc(4 / 12 * 100%);
			h4 {
				color: @footer-header;
				padding-bottom: 30px;
				border-bottom: 1px solid @border-footer;
			}
			ul {
				padding-left: 0;
				list-style-type: none;
				columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
				list-style: outside none none;
				list-style-position: inside;
				li {
					a {
						text-decoration: none;
						color: @footer-colour;
						&:hover {
							color: @white;
							text-decoration: underline;
						}
					}
					float: left;
					width: 195px;
					padding: 0 15px 10px 0;
				}
			}
		}

		.location {
			margin-left: calc(127 / 1140 * 100%);
			width: calc(3 / 12 * 100%);
			color: @footer-colour;
			h4 {
				color: @footer-header;
				padding-bottom: 30px;
				border-bottom: 1px solid @border-footer;
			}
			ul {
				list-style: none;
				padding-left: 0;
				li {
					p {
						display: inline-block;
						a {
							text-decoration: none;
							color: @footer-colour;
							&:hover {
								color: @white;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.copyright {
		border-top: 1px solid @border-footer;
		.rights {
			display: flex;
			padding: 20px 0 15px 14px;
			color: @footer-colour;
			font-size: 14px;
			margin: auto;
			.rights-text {
				width: calc(10 / 12 * 100%);
			}
		}
		.payments {
			width: calc(4 / 12 * 100%);
			display: inline-block;
			text-align: right;
			margin-right: 1%;
		}
	}
}

//Responsive Footer
@media only screen and (max-width: 1024px) {
	footer {
		.footer-container {
			padding-left: 15px;
			flex-wrap: wrap;
			flex-direction: row;
			.about-us {
				padding: 0;
				margin-right: unset;
				width: unset;
			}
			.footer-menu {
				width: unset;
			}
			.location {
				width: 100%;
				margin-left: unset;
				ul {
					li {
						p {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
}
